.card {
  flex: 1 0 25%;
  min-width: 260px;
  max-width: 280px;
  height: 620px;
  border-radius: 35px;
  margin: 5px;
  padding: 26px 15px 30px;
  position: relative;
  overflow: hidden;

  .img-card {
  width: 100%;
  height: 350px;
  object-fit: cover;
  object-position: top;
  display: block;
  margin: 0 auto;
  border-radius: 50px;
  box-shadow: 0 8px 1px rgba(255, 255, 255, 0.1),
    0 16px 1px rgba(255, 255, 255, 0.05);
  }

  h5 {
    color: $color-3;
    letter-spacing: 1px;
    font-size: 1.2rem;
    font-weight: 300;
  }
  h4 {
    letter-spacing: 1px;
    font-size: 1.2rem;
    margin-top: -4px;

    span {
      font-size: 0.7rem;
    }
  }
  ul {
    margin: 6px 0;
    display: flex;
    flex-wrap: wrap;
  }
  li {
    background: $white;
    border-radius: 18px;
    padding: 0px 7px;
    margin: 0 4px 4px 0;
    font-size: 1.1rem;

    &:first-child {
      margin-left: -4px;
    }
  }
  h3 {
    letter-spacing: 1px;
    font-size: 1.4rem;
    margin-top: 10px;
  }
  p {
    color: $color-3;
    font-size: 1.3rem;
    line-height: 20px;
    overflow-y: scroll;
    height: 1000px;

    &::-webkit-scrollbar {
      display: none;
    }
  }

}
